[submodule "files/vim/bundle/vim-sensible"]
	path = files/vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "files/vim/bundle/vim-puppet"]
	path = files/vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "files/vim/bundle/vim-clojure-static"]
	path = files/vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "files/vim/bundle/ctrlp.vim"]
	path = files/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
