[submodule "files/vim/bundle/vim-sensible"]
	path = files/vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "files/vim/bundle/vim-puppet"]
	path = files/vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "files/vim/bundle/vim-clojure-static"]
	path = files/vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "files/vim/bundle/ctrlp.vim"]
	path = files/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "files/vim/bundle/tabular"]
	path = files/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "files/vim/bundle/vim-leiningen"]
	path = files/vim/bundle/vim-leiningen
	url = git://github.com/tpope/vim-leiningen.git
[submodule "files/vim/bundle/vim-projectionist"]
	path = files/vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "files/vim/bundle/vim-dispatch"]
	path = files/vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "files/vim/bundle/vim-fireplace"]
	path = files/vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "files/vim/bundle/nerdtree"]
	path = files/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "files/vim/bundle/vim-fugitive"]
	path = files/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "files/vim/bundle/vim-golang"]
	path = files/vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "files/vim/bundle/tcomment_vim"]
	path = files/vim/bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "files/vim/bundle/vim-rails"]
	path = files/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "files/vim/bundle/gundo"]
	path = files/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
