[user]
  name = Owen Davies
  email = owen-admedo@users.noreply.github.com
[color]
  ui = auto
[push]
  default = current
[alias]
  info = ! git branch && git status --short && git stash list
[core]
  excludesfile = ~/.gitignore
